.block_mycourses * {
    box-sizing: border-box;
}

.block_mycourses .course-item .inner {
    border: 1px solid #642995;
    border-radius: 3px;
    overflow: hidden;
}

.block_mycourses .course-item .left {
    margin: 5px;
    width: 125px;
    float: left;
}

.block_mycourses .course-item .left img {
    width: 125px;
}

.block_mycourses .course-item .right {
    width: calc(100% - 135px);
    float: left;
}

.block_mycourses .course-item .right h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 0 0;
    word-break: keep-all;
}

.block_mycourses .course-item .progressbar {
    clear: both;
    width: calc(100% - 10px);
    height: 30px;
    border: 1px solid #642995;
    margin: 0 5px 5px 5px;
    bottom: 52px;
    position: absolute;
}

.block_mycourses .course-item .progress-percentage {
    background: #642995;
    height: 29px;
}

.block_mycourses .course-item .status-text {
    position: absolute;
    margin-left: 10px;
    margin-top: -28px;
}

.block_mycourses .course-item .started .status-text {
    color: #fff;
}

.block_mycourses footer {
    text-align: right;
    border-top: 1px solid #642995;
    position: absolute;
    bottom: 26px;
    width: 100%;
}

.block_mycourses footer a {
    color: #642995;
    margin-right: 5px;
}
.block_mycourses .grid:after {
    content: '';
    display: block;
    clear: both;
}

.block_mycourses .grid-sizer {
    width: 24.54%;
}

.block_mycourses .gutter-sizer {
    width: 0.625%;
}

.block_mycourses .grid-item {
    position: relative;
    float: left;
    width: 24.54%;
    padding-bottom: 20px;
    overflow: hidden;
}

.block_mycourses .grid-item .inner{
    min-height: 220px;
}

@media (max-width: 1650px) {

    .block_mycourses .grid-sizer {
        width: 32.00%;
    }

    .block_mycourses .grid-item {
        width: 32.00%;
        padding-bottom: 20px;
    }

    .block_mycourses .grid-item .inner{
        min-height: 250px;
    }
}

@media (max-width: 1200px) {

    .block_mycourses .grid-sizer {
        width: 49.08%;
    }

    .block_mycourses .grid-item {
        width: 49.08%;
        padding-bottom: 20px;
    }

    .block_mycourses .grid-item .inner{
        min-height: 230px;
    }
}

@media (max-width: 863px) {

    .block_mycourses .grid-sizer {
        width: 90%;
    }

    .block_mycourses .gutter-sizer {
        width: 0%;
    }

    .block_mycourses .grid-item {
        width: 90%;
        padding-bottom: 20px;
    }

    .block_mycourses .grid-item .inner{
        min-height: 180px;
    }
}

#block_mycourses_showmore{
    width: 150px;
    display: block;
    margin: auto;
}

.block_mycourses .dropdown-item{
    display: block;
    padding: 2px 5px;
}