{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package moodle-block_mycourses
    @copyright 03/11/2019 Mfreak.nl | LdesignMedia.nl - Luuk Verhoeven
    @author    Luuk Verhoeven
}}
<div class="d-flex justify-content-between mb-3">
    <div id="limit-dropdown-container" data-region="paging-control-container" class="p-2">
        <div
                id="paging-control-limit-container"
                data-region="paging-control-limit-container"
                class="d-inline-flex align-items-center"
        >
            <span class="mr-1">{{#str}} show {{/str}}</span>
            <div class="btn-group">
                <button
                        type="button"
                        class="btn btn-outline-secondary dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-action="limit-toggle"
                >
                    {{#itemsperpage}}
                        {{#active}}
                            {{value}}
                        {{/active}}
                    {{/itemsperpage}}
                </button>
                <div
                        role="menu"
                        class="dropdown-menu"
                        data-show-active-item
                >
                    {{#itemsperpage}}
                        <a
                                class="dropdown-item {{#active}}active{{/active}}"
                                href="#"
                                data-limit={{value}}
                            {{#active}}aria-current="true"{{/active}}
                        >
                            {{#value}}{{.}}{{/value}}
                        </a>
                    {{/itemsperpage}}
                </div>
            </div>
        </div>
    </div>
    <div class="p-2 mb-3 mt-1">
        <a href="#" id="block_mycourses_showmore" class="btn btn-primary">
            {{# str}} btn:showmore, block_mycourses {{/ str}}
        </a>
    </div>
    <div class="p-2 mb-3 mt-1"></div>
</div>
<script>
        {{#js}}
        require(['jquery'], function($) {

            function resize_window(){
                console.log('resize_window()');
                var highestBox = 0;

                $('.grid-item').each(function() {
                    if ($(this).height() > highestBox) {
                        highestBox = $(this).height();
                    }
                });

                // $('.grid-item .inner').css({
                //     'height': highestBox,
                //     'min-height': highestBox,
                //     'max-height': highestBox
                // });
            }

            $(document).ready(function() {
                var container = document.querySelector('.block_mycourses .grid');
                var msnry = new Masonry(container, {
                    columnWidth: '.grid-sizer',
                    gutter: '.gutter-sizer',
                    itemSelector: '.grid-item',
                    percentPosition: true,
                });

                msnry.once( 'layoutComplete', function( items ) {
                    resize_window();
                });
                msnry.layout();

                var timer;
                window.onresize = function(){
                    clearTimeout(timer);
                    timer = setTimeout(resize_window, 100);
                };
            });

            /**
             * Display x courses
             *
             * @param {int} limit
             */
            function filter_course_list(limit) {
                $(".block_mycourses .course-item:lt(" + limit + ")").fadeIn();
            }

            /**
             * Update dropdown element
             *
             * @param $el
             */
            function update_dropdown($el) {
                var limit = $.trim($el.text());
                $('#paging-control-limit-container a.dropdown-item').removeClass('active');
                $('.block_mycourses .course-item').hide();
                $el.addClass('active');

                $('#paging-control-limit-container button').text(limit);

                M.util.set_user_preference('block_mycourses_limit', limit);
            }

            $('#paging-control-limit-container a.dropdown-item').on('click', function() {
                var $el = $(this);

                update_dropdown($el);

                filter_course_list($el.text());
            });

            $('#block_mycourses_showmore').on('click', function(e) {
                e.preventDefault();
                filter_course_list(1000);
            });

            // Load default.
            filter_course_list({{courselimit}});
        });
        {{/js}}
</script>