{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package moodle-block_mycoursesltc
    @copyright 28/10/2019 Mfreak.nl | LdesignMedia.nl - Luuk Verhoeven
    @author    Luuk Verhoeven
}}
<div class="course-item grid-item" style="display: none">
    <div class="inner">
        <section class="mb-1">
            <div class="left">
                <img src="{{image}}" alt="{{fullname}}">
            </div>
            <div class="right">
                <h4>{{fullname}}</h4>
                <div class="startdate">
                    {{# str}} text:startdate, block_mycoursesltc {{/ str}} {{date_started}}
                </div>
                <div class="grade">
                    {{# str}} text:grade, block_mycoursesltc {{/ str}} {{grade}}
                </div>
            </div>
            <div class="progressbar {{#course_is_started}}started{{/course_is_started}}">
                <div class="progress-percentage" style="width: {{completion_percentage}}%"></div>
                <span class="status-text">{{progress_text}}</span>
            </div>
        </section>
        <footer>
            <a href="{{courseurl}}">{{# str}} btn:start_course, block_mycoursesltc {{/ str}}
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </footer>
    </div>
</div>